@model Cloud_based_editor_VLN_2.Models.ViewModels.ProjectViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Projects</h2>
<p>@Html.ActionLink("Create new project", "AddProject", new { ownerID = Model.CurrUserID }, new { @type = "button", @class = "btn btn-default" })</p>
<div class="row">

    @foreach (Cloud_based_editor_VLN_2.Models.Entities.Project item in Model.Projects) {
            <a href="@Url.Action("Index","Document", new { projectID = item.ID})">
            <div class="col-md-4 projectContainer">
                <div class="panel panel-defaults project-panel-box grow">
                    <div class="row">
                        <div class="col-md-12" id="top-column-area">
                            <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p>Id: @Html.DisplayFor(modelItem => item.ID)</p>
                        </div>
                    </div>

                    <div class="row lastRow">
                    </div>
                    <div class="col-md-4 col-md-offset-2">
                        @Html.ActionLink("Open", "Index", "Document", new { projectID = item.ID }, new { @type = "div", @class = "btn btn-default btn-block" })
                    </div>

                    <div class="col-md-4">
                        <div class="btn-default btn-block">
                            <div class="btn dropdown-toggle" data-toggle="dropdown">
                                Options
                                <span class="caret"></span>
                            </div>
                            <ul class="dropdown-menu">
                                <li><a href="#" onclick="EditProjectName(@item.ID)"><i class="glyphicon glyphicon-pencil"></i> Rename</a> </li>
                                <li>@Html.ActionLink("Download", "DownloadZip", "Document", new { projectID = item.ID, userID = item.ID, projectName = item.Name }, new { @type = "a", @tabindex = "-1" })</li>
                                <li>@Html.ActionLink("Delete", "Delete", "Document", new { projectID = item.ID }, new { @type = "a", @tabindex = "-1" })</li>
                             </ul>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    }
</div>

@* This will load the modal window for Rename *@
<div class="modal" id="myModal1">
    
</div>


