@model Cloud_based_editor_VLN_2.Models.ViewModels.DocumentViewModel

<script type="text/javascript">
    bodyMargin();
</script>

<div class="navToggle"> <div class="verticalText" id="verticalTextID" onclick="showNavBar();">Navigation</div> </div>
<nav class="projectNav" id="sideNav">
    <ul>
    @foreach (Cloud_based_editor_VLN_2.Models.Entities.Document item in Model.Documents) {
        if (item.ID == Model.Doc.ID) {
            <li>@Html.Raw("<div class=\"navigationLink selectedNav\" id=\"nav" + item.ID + "\" onclick=\"showHeader(this.id);\" >" + item.Name + item.Type + "</div>")</li>
        }
        else {
            <li>@Html.Raw("<div class=\"navigationLink\" id=\"nav" + item.ID + "\" onclick=\"showHeader(this.id);\" >" + item.Name + item.Type + "</div>")</li>
        }

    }
    </ul>
</nav>
<div class="editorContent" id="editorContentId">
    @foreach (Cloud_based_editor_VLN_2.Models.Entities.Document item in Model.Documents) {

        if (item.ID == Model.Doc.ID) {
            @Html.Raw("<h2 id=\"doc" + item.ID + "\" class=\"hideHeader showHeader\" > " + item.Name + item.Type + "</h2>")
        }
        else {
            @Html.Raw("<h2 id=\"doc" + item.ID + "\" class=\"hideHeader\" > " + item.Name + item.Type + "</h2>")
        }
    }

   @Html.HiddenFor(model => model.Doc.ID, new { id = "activeDocID"})
        <button type="submit" id="saveFileBtn">Save</button>


    <div id="editorID">Editor</div>
</div>

<script src="~/Scripts/editorSignalR.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editorID");
    var content = @Html.Raw(Json.Encode(Model.Doc.Content));
    editor.setTheme("ace/theme/twilight");
    editor.session.setMode("ace/mode/csharp");
    editor.getSession().setValue(content);
    /*editor.getSession().on('change', function() {
        update()
    });*/
</script>


